@import "./../../common/best-reset.css";

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 2rem;
}

table {
  color: #24388d;
  width: 710px;
  height: 594px;
}

p {
  color: #878787;
}

table,
tr,
td,
th {
  border: 1px solid currentColor;
}

.thumbnail {
  width: 60px;
  height: 60px;
}
