@import "./../../common/best-reset.css";

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 2rem;
}
table {
  border: 1px solid black;
  border-collapse: collapse; /* 보더 겹침 방지 */
}
caption {
  display: none;
}
td {
  height: 90px;
}
th,
td {
  border: 1px solid black;
}
.thumbnail {
  width: 60px;
  height: 60px;
  margin: 15px 10px;
}
.news-number {
  width: 46px;
}
.news-content {
  width: 579px;
}
.news-date {
  width: 85px;
}
