@import "./../../common/normalize.css";

/* body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  margin: 3rem;
}

.lab-menu {
  padding: 497px 253px 150px 253px;
  background: url("./../../assets/cafew/coffee-lab-01-@2x.jpg");
  background-size: 692px;
  display: inline-block;
  font-size: 45px;
}
.lab-barista {
  padding: 497px 253px 150px 253px;
  background: url("./../../assets/cafew/coffee-lab-02-@2x.jpg");
  background-size: 692px;
  display: inline-block;
} */
